$green: #1ccc5b;
$black: #181313;
$gris: #2d2d2d;
$white: whitesmoke;
$dark: rgb(10,10,10);

@font-face {
    font-family: GothamBold;
    src: url(../fonts/Gotham-Bold.otf);
}

@font-face {
    font-family: Gotham;
    src: url(../fonts/Gotham-Light.otf);
}

$font: Gotham;
$fontB: GothamBold;





* {
    margin: 0;
    padding: 0;

}

body {
    background-color: $black;
    font-family: $font;
}

.navbar {
    background-color: $green !important;
    font-family: $fontB;

    .navbar-brand {
        font-size: 22px;
    }
}

h1 {
    color: $green;
    font-family: GothamBold;
    display: flex;
    justify-content: end;
    margin-right: 150px;
    font-size: 45px;
}


//----------------------------------------------------
//SCSS POUR MENU

.menu {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    * {
        text-decoration: none;
        list-style-type: none;
    }

    a {
        color: $white;
        font-size: 20px;
    }
}


//----------------------------------------------------
//SCSS POUR ALBUM

.albums {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    gap: 3px;
    height: 250px;
    width: 190px;
    background-color: $gris;
    color: $white;
    cursor: pointer;

    .imgAlbum {
        width: 180px;
        height: 180px;
        border-radius: 5px;

    }

    p {
        margin: 0;
    }

    .artisteAlbum {
        color: darken($white, 30%);
    }

    &:hover {
        background-color: lighten($gris, 5%);
    }
}


//----------------------------------------------------
//SCSS POUR MUSIQUE

.musiques {

    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 100px;
    height: 60px;
    background-color: $gris;
    color: $white;

    img {
        width: 50px;
        height: 50px;
    }

    p {
        display: flex;
        justify-content: start;
        margin: 0;
    }

    .artisteAlbum {

        a {
            text-decoration: none;
            color: darken($white, 30%);

            &:hover {
                color: darken($white, 10%);
            }
        }
    }

    .duree {
        position: absolute;
        right: 5%;
        display: flex;
        justify-content: right;
    }

    button {
        position: absolute;
        right: 0;
        top: 50%;
        color: $white;
        font-size: 20px;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: $green;
        transform: translate(50%, -50%);
        border: none;

        &:hover {
            background-color: darken($green, 10%);
        }
    }
}


//----------------------------------------------------
//SCSS POUR ARTISTE


.artistes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    gap: 3px;
    height: 250px;
    width: 190px;
    background-color: $gris;
    color: $white;
    cursor: pointer;

    .imgArtiste {
        width: 170px;
        height: 170px;
        border-radius: 50%;

    }

    p {
        margin: 0;
    }

    .artiste {
        color: darken($white, 30%);
    }

    &:hover {
        background-color: lighten($gris, 5%);
    }
}

.showArtiste {

    h1 {
        display: flex;
        gap: 8px;
    }
}



//----------------------------------------------------
//SCSS POUR GROUPE


.groupes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    gap: 3px;
    height: 250px;
    width: 190px;
    background-color: $gris;
    color: $white;
    cursor: pointer;

    .imgGroupe {
        width: 170px;
        height: 170px;
        border-radius: 50%;

    }

    p {
        margin: 0;
    }

    .artiste {
        color: darken($white, 30%);
    }

    &:hover {
        background-color: lighten($gris, 5%);
    }
}
