//----------------------------------------------------
//SCSS POUR ALBUM



.albums {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    gap: 3px;
    height: 250px;
    width: 190px;
    background-color: $gris;
    color: $white;
    cursor: pointer;

    .albumDestroy {

        position: absolute;
        bottom: 5px;
        right: 10px;

        button {
            border: none;
            background-color: transparent;
            color: darken($white, 30%);

            &:hover {
                color: lighten($white, 10%);
            }
        }
    }

    .imgAlbum {
        width: 180px;
        height: 180px;
        border-radius: 5px;

    }

    p {
        margin: 0;
    }

    .artisteAlbum {
        color: darken($white, 30%);

        a {
            text-decoration: none;
            color: darken($white, 30%);

            &:hover {
                color: darken($white, 10%);
            }
        }
    }

    &:hover {
        background-color: lighten($gris, 5%);
    }
}

.showAlbum {

    *{
        margin: 0;
    }
}

.createAlbum {
    z-index: 5;
    position: absolute;
    top: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(100, 100, 100, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerCreateAlbum {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 650px;
    background-color: $gris;

    .btnCreateAlbum {
        position: absolute;
        top: 0;
        right: 0;
        color: $white;
    }

    .formAlbum {
        display: flex;
        justify-content: center;
        max-width: 80%;
        color: $green;

        .button {
            margin-top: 20px;
            display: flex;
            justify-content: right;

            .btn {
                background-color: $green;
                color: $dark;
            }
        }
    }
}


.addArtisteAlbum {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(100, 100, 100, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .btn {
        color: $white;

        &:hover {
            color: darken($white, 20%);
        }
    }
}

.containerAddInfoMusique {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
    background-color: $gris;

    .btnAddArtisteAlbum {
        position: absolute;
        top: 0;
        right: 0;
    }

    .formAddInfoMusique {
        display: flex;
        justify-content: center;
        max-width: 80%;
        color: $green;

        .button {
            margin-top: 20px;
            display: flex;
            justify-content: right;

            .btn {
                background-color: $green;
                color: $dark;
            }
        }
    }
}


.addMusiqueAlbum {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(100, 100, 100, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .btn {
        color: $white;

        &:hover {
            color: darken($white, 20%);
        }
    }
}

.containerAddInfoMusique {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
    background-color: $gris;

    .btnAddMusiqueAlbum {
        position: absolute;
        top: 0;
        right: 0;
        color: $white;
    }

    .formAddInfoMusique {
        display: flex;
        justify-content: center;
        max-width: 80%;
        color: $green;

        .button {
            margin-top: 20px;
            display: flex;
            justify-content: right;

            .btn {
                background-color: $green;
                color: $dark;
            }
        }
    }
}
