//----------------------------------------------------
//SCSS POUR GROUPE

.lienGroupe {

    text-decoration: none;
}

.groupes {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    gap: 3px;
    height: 250px;
    width: 190px;
    background-color: $gris;
    color: $white;
    cursor: pointer;

    .groupeDestroy {

        position: absolute;
        top: 5px;
        right: 10px;

        button {
            border: none;
            background-color: transparent;
            color: darken($white, 30%);

            &:hover {
                color: lighten($white, 10%);
            }
        }
    }

    .imgGroupe {
        width: 170px;
        height: 170px;
        border-radius: 50%;

    }

    p {
        margin: 0;
    }

    .artiste {
        color: darken($white, 30%);
    }

    &:hover {
        background-color: lighten($gris, 5%);
    }
}


.createGroupe {
    z-index: 5;
    position: absolute;
    top: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(100, 100, 100, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerCreateGroupe {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 650px;
    background-color: $gris;

    .btnCreateGroupe {
        position: absolute;
        top: 0;
        right: 0;
    }

    .formGroupe {
        display: flex;
        justify-content: center;
        max-width: 80%;
        color: $green;

        .inputDate {
            display: flex;
            justify-content: space-between;
            gap: 10px;

            input {
                min-width: max-content;
                width: 195px;
            }
        }

        .button {
            margin-top: 20px;
            display: flex;
            justify-content: right;

            .btn {
                background-color: $green;
                color: $dark;
            }
        }
    }
}


.addArtisteGroupe {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(100, 100, 100, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .btn {
        color: $white;

        &:hover {
            color: darken($white, 20%);
        }
    }
}

.containerAddInfoMusique {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
    background-color: $gris;

    .btnAddArtisteGroupe {
        position: absolute;
        top: 0;
        right: 0;
    }

    .formAddInfoMusique {
        display: flex;
        justify-content: center;
        max-width: 80%;
        color: $green;

        .button {
            margin-top: 20px;
            display: flex;
            justify-content: right;

            .btn {
                background-color: $green;
                color: $dark;
            }
        }
    }
}


.addAlbumGroupe {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(100, 100, 100, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .btn {
        color: $white;

        &:hover {
            color: darken($white, 20%);
        }
    }
}

.containerAddInfoMusique {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
    background-color: $gris;

    .btnAddAlbumGroupe {
        position: absolute;
        top: 0;
        right: 0;
    }

    .formAddInfoMusique {
        display: flex;
        justify-content: center;
        max-width: 80%;
        color: $green;

        .button {
            margin-top: 20px;
            display: flex;
            justify-content: right;

            .btn {
                background-color: $green;
                color: $dark;
            }
        }
    }
}
